dl {
    padding: 1em 0;
}

dt, dd {
    margin: 0;
    padding-top: 8px;
    float: left;
}

dt {
    color: #BBB;
    width: 25%;
    clear: left;
}

dd {
    width: 70%;
    padding-left: 5%;
}

dd ak-lozenge {
    float: right;
    margin-right: 35px;
}
